@tailwind base;
@tailwind components;
@tailwind utilities;

/* כאן נכנסים עיצובי הבסיס שלנו */
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', system-ui, sans-serif;

}

/* Scrollbar hide utility */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}